.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  width: 250px;
  height: auto;
}

.alert {
  cursor: pointer;
  padding: 15px;
  border-radius: 6px;
  width: 100%;
  font-size: 17px;
  color: #ffffff;
  background-color: #4b8aff;
  font-weight: 600;
  animation-name: alert-animation;
  animation-duration: 7s;
  margin-bottom: 20px;

  &-error {
    background-color: #ff5454;
  }

  &-success {
    background-color: #6eaf1b;
  }
}

@keyframes alert-animation {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  92% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}