.switcher {
  position: absolute;
  top: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
  z-index: 99999999999;
  border-bottom: 2px solid #eee;

  &-item {
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;

    &:hover {
      background-color: #eee;
    }
  }
}